[submodule "3rd/lua-5.4.6"]
	path = 3rd/lua-5.4.6
	url = https://github.com/antsmallant/lua-5.4.6.git
	branch = luaprof
[submodule "3rd/lua-5.4.8"]
	path = 3rd/lua-5.4.8
	url = https://github.com/antsmallant/lua-5.4.8.git
	branch = luaprof
[submodule "integration/skynet"]
	path = integration/skynet
	url = https://github.com/antsmallant/skynet.git
	branch = luaprof
[submodule "3rd/lua-5.5.0"]
	path = 3rd/lua-5.5.0
	url = https://github.com/antsmallant/lua-5.5.0.git
	branch = luaprof
